<div class="col-md-9">
          <form class="navbar-form">
          	<h1><span class="label label-success">{{vm.provider_counter}}</span></h1>
              <button class="btn btn-primary" ng-click="vm.next()">Next</button>
              <br><br><br>
                 <button class="btn btn-primary" ng-click="vm.stop()">Stop</button>
              <h3><span class="label label-default">{{ vm.vendor_info_map[vm.cell_of_provider] }} - {{ vm.cell_of_provider }}</span></h3>
          </form>
</div>
