<h3>Customers:</h3>
Wondering if you should leave for your service providers premises. 
<button type="button" class="btn btn-success"  ng-click="vm.setActiveSection('customer')">
		  	<span aria-hidden="true"><i class="fa fa-binoculars"></i></span> Start Here</button>
<hr>
<h1>Easy Wait: For People Who Hate To Wait. 
<button type="button" class="btn btn-success"  ng-click="vm.setActiveSection('explore')">
		  	<span aria-hidden="true"><i class="fa fa-arrow-right"></i></span> Know More</button>
</h1>
<hr>

<h3>Service Providers:</h3>
Want your customer to reach your premises just in time. 
<button type="button" class="btn btn-success"  ng-click="vm.setActiveSection('provider')">
		  	<span aria-hidden="true"><i class="fa fa-book"></i></span> Start Here</button>
  