<h3>Customers:</h3>
Wondering if you should leave for your service providers premises. 
<button type="button" class="btn btn-success"  ng-click="vm.setActiveSection('customer')">
		  	<span aria-hidden="true"><i class="fa fa-binoculars"></i></span> Start Here</button>
<hr>
<div class="jumbotron">
  <h1>Easy Wait</h1>
  <p>For People Who Hate To Wait.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button" ng-click="vm.setActiveSection('explore')">Learn more</a></p>
</div>

<hr>

<h3>Service Providers:</h3>
Want your customer to reach your premises just in time. 
<button type="button" class="btn btn-success"  ng-click="vm.setActiveSection('provider')">
		  	<span aria-hidden="true"><i class="fa fa-book"></i></span> Start Here</button>
  