<hr>
<h4>Identify Your Service Provider</h4>
<div class="input-group">
     <input type="number" data-toggle="tooltip" title="Mobile Number with Country Code" class="form-control" ng-model="vm.mobile_to_subscribe" placeholder="91XXXXXXXXXX" ng-minlength=1 ng-maxlength=13>
     <span class="input-group-btn">
            	<button class="glyphicon glyphicon-arrow-right btn btn-primary" data-toggle="tooltip" title="Watch Status"  ng-click="vm.setMobile(vm.mobile_to_subscribe)"></button>
     </span>
     
   </div><!-- /input-group -->
 Use the Number Shared By Your Service Provider. Typically The Mobile Number Of Your Provider
				    