      	<div ng-if="vm.flag_introduction" class="row">
	      		
	      		<div class="col-md-6">
      			<h1>Hate Queues? Tune in to get relieved.</h1>
				<ul >
				  <li role="presentation">Doctors, Restraunts, Temples, Community Events</li>
				  <li role="presentation">Wherever is a long quque</li>
				</ul>
      			<hr>
      			<h3>Waiting Made Easy In 5 Steps <button ng-if="vm.flag_introduction" class="btn btn-success" ng-click="vm.toggleAssistance()">Start Now</button></h3>
      			<img src="img/qsnapshot.png" width="600" height="500" alt="" /> 
      			
				<ul >
				  <li role="presentation">Provider Registers With Its Phone Number</li>
				  <li role="presentation">Provider Shares The Number With Customers</li>
				  <li role="presentation">Customers Subscribe The Providers Number</li>
				  <li role="presentation">Provider Updates Queue Status</li>
				  <li role="presentation">Customers Refreshes Status View</li>
				</ul>
      			
      		    <hr>
      			<h3>Ask your provider to register with us now</h3>
				<button ng-if="vm.flag_introduction" class="btn btn-success" ng-click="vm.toggleAssistance()">Start Now</button>      		    
      		    
      		    </div>
      	</div>
      	
